modules = ["php-8.2", "nodejs-20", "web", "bash"]

[nix]
channel = "stable-24_05"

run = "bash run.sh"

[deployment]
run = ["bash", "run.sh"]

[env]
REPLIT_PHP_EXEC = "php"

[http_server]
directory = "."
port = 8080
